<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<h2>Books</h2>


<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/create" color="primary">
    <mat-icon>add</mat-icon>
  </a>
</div>

<!--    MatCARD-al
<div style="margin-bottom: 10px" *ngFor="let book of books$ | async">
  <mat-card>
    
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">menu_book</i>
      </div>

      <mat-card-title>
        <a mat-button [title]="book.title" [routerLink]="['/books', book.id]">
          <h3>{{book.title}}</h3>
        </a>
        <mat-card-subtitle>{{'ISBN: '+book.ISBN}}</mat-card-subtitle>
        <mat-card-subtitle>{{book.pages+' pages'}}</mat-card-subtitle>
        <mat-card-subtitle>{{'Published in '+book.published}}</mat-card-subtitle>
      </mat-card-title>
    </mat-card-header>

      <mat-card-content>

        <p *ngIf="book.likes">
        {{book.likes+' likes'}}
        </p>

      </mat-card-content>
    
    <mat-card-actions>
      <app-book-social [bk]=book (onlike)="liked($event)"></app-book-social>
    </mat-card-actions>

  </mat-card >
</div>
-->

<!--    HTML table-el

  <table id="t01">
    <tr>
      <th>Title</th>
      <th>Author</th> 
      <th>Published</th>
    </tr>

    <tr *ngFor="let book of books$ | async">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.published}}</td>
    </tr>

  </table>
-->


  <table id="t01" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="title">Title</th>
      <th mat-sort-header="author">author</th>
      <th mat-sort-header="published">Published</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let book of books$ | async">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.published}}</td>
      <td><button title="Edit book" mat-raised-button color="primary"><i class="material-icons">mode</i></button></td>
      <td><button title="Delete book" mat-raised-button color="warn"><i class="material-icons">remove_circle</i></button></td>
    </tr>
  </table>


</body>