<h3>Create new author</h3>
<p>
  <a mat-button routerLink="/authors">
    <b>Back</b>
  </a>
</p>

<form [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm.value)">

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Author's name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-hint>Give the name</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Author's birth</mat-label>
      <input matInput placeholder="Birth" formControlName="birth">
      <mat-hint>Give the year of birth</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Author's nationality</mat-label>
      <input matInput placeholder="Nationality" formControlName="nationality">
      <mat-hint>Give the nationality</mat-hint>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type>Create</button>
</form>